<%obj.each do |article|%>    
  <div class="card border-info mb-3">
    <div class="card-header"><h3><%=link_to article.title,article_path(article),class: "text-danger"%></h3></div>
    <div class="card-body text-info">
      <p class="card-text" style="color: #000;"><%=truncate(article.description,length: 100)%></p>
      <div class="article-meta-details">
        <small>
          Created by: <%=article.user.username if article.user%> 
          <%=time_ago_in_words(article.created_at)%> ago 
          Last Updated: <%=time_ago_in_words(article.updated_at)%> 
        </small>
      </div>
    </div>
    
    <div class="p-3">
      <%=link_to "Edit",edit_article_path(article),class: "btn btn-outline-dark"%>
      <%=link_to "Delete",article_path(article),method: :delete,data: {confirm: "Are you sure?"} ,class: "btn btn-outline-danger"%>
    </div>
  </div>
<%end%>
