<div class="row mb-3">
  <div class="col-12">
   <h4 class="text-center"> Welcome <%=@user.username%></h4>
  </div>
  <div class="mx-auto">
   <%=gravatar_for(@user,size: 150)%> 
  </div>
</div>
<%=will_paginate @user_articles%>
<%=render 'articles/article',obj: @user_articles%>
<%=will_paginate @user_articles%>